.bg-seaShell{
    background-color: #E7D2CC;
}

.bg-pewter{
    background-color: #B9B7BD;
}

.bg-gray{
    background-color: #868B8E;
}

.bg-ivory{
    background-color: #EEEDE7;
}

.bg-pink{
    background-color: rgba(255, 182, 193, 0.507);
}